<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code Blog</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
    />
    <link rel="stylesheet" href="/stylesheet/app.css" />
    <script
      src="https://cdn.tiny.cloud/1/fik1ei462tx6sekfbm4eebf91wq4vk475jw3vn10stasud22/tinymce/5/tinymce.min.js"
      referrerpolicy="origin"
    ></script>
  </head>
  <body>
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <div class="header item" id="logo">
          <a href="/"><i class="fas fa-blog"> Code Blog</i></a>
        </div>

        <a href="/blogs" id='home' class="item">Home</a>
        <a href="/blogs/new" id="post" class="item">New Post</a>
      </div>
    </div>
