body {
  padding-top: 5em;
}

i.fa-blog {
  font-size: 2em;
}

#delete {
  display: inline;
}

#letter {
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1),
    0 18px 23px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  min-width: 250px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.fa-arrow-alt-circle-right {
  font-size: 1.2em;
  padding-left: 0.2em;
}

.image.rounded {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#btn {
  padding: 11px 14px !important;
}
