<%- include ("partials/header.ejs")%>
<div class="ui main test container segment">
  <div class="huge header ui">Write New Blog</div>

  <form action="/blogs" class="ui form" method="POST" novalidate>
    <div class="field">
      <label for="title">Title</label>
      <input type="text" name="blog[title]" id="title" placeholder="Title" />
    </div>
    <div class="field">
      <label for="image">Image</label>
      <div class="ui labeled input">
        <div class="ui label">
          http://
        </div>
        <input type="url" name="blog[image]" id="image" placeholder="Img Url" />
      </div>
    </div>
    <div class="field">
      <label for="content">Blog Content</label>
      <textarea
        id="content"
        name="blog[body]"
        placeholder="Blog post goes here..."
        required
      ></textarea>
    </div>
    <button class="ui violet big button">Submit</button>
  </form>
</div>

<%- include ("partials/footer.ejs")%>
